
.footer{
    background-color: #34475E;
    color: white;
    position:fixed;
    width: 100%;
    bottom: 0px;
    height: 1.8em;
    text-align: center;
    
  }
  .footer ul li a{
    color:#fff
  }
  
  .footer li a{
    color:#313131;
    font-weight:500
  }
  .footer ul li{
    display:inline-block;
    font-size:14px;
    padding:10px 20px
  }
  
  
   
